@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.input {
    background-color: #b3b3b3;
}

.output {
    background-color: grey;
}

.title {
    text-align: center;
}

.rowFlex {
    display: flex;
    flex-wrap: wrap;
}

.rowFlex > .colFlex {
    display: flex;
    flex-direction: column;
}

.inputField {
    resize: vertical;
    height: 50px;
}

